.updatebutton {
    margin-left: 22px;
}
.deletebutton {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 20px;
}

/* ####################### BUTTONS ^^ ########################## */

.front{
    text-align: center;
    background-color: #607D8B;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 15px;
}

.back{
    text-align: center;
    display: flex;
    background-color: #7ea0b1;
    width: auto;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
}

.card{
    text-align: center;
    display: flex;
    width: fit-content;
    height: 400px;
    justify-content: center;
    padding: 30px;
    padding-top: 0px;
    margin-top: 15px;
    background-color: #465861;
    border-radius: 15px;
    font-size: 25px;
    /* overflow-y: scroll; */
    /* scrollbar-width: none; */
}

.mainCard{
    display: flex;
    justify-content: center;
    width: auto;
}



/* ####################### PROFILE INFO CARD ^^ ######################################### */