.weightFlex {
    display: flex;
    width: 100%;
    height: auto;
    list-style: none;
    flex-direction: row;
    align-items: center;
    min-height: 10px;
    justify-content: space-around;

}

.descPrimaryFlex {
    display: flex;
    margin: 100px;
    flex-direction: column;
    align-items: center;
    width: auto;

}

.descSecondaryFlex {
    display: flex;
    width: fit-content;
    height: 500px;
    justify-content: center;
    padding: 50px;
    padding-top: 0px;
    margin-top: 15px;
    background-color: #465861;
    border-radius: 15px;
    font-size: 30px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.descWeightFlex {
    display: flex;
    background-color: #607D8B;
    width: auto;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;

}

.groupDescFlex {
    height: fit-content;
}

.innerDescFlex {
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: space-around;
}

.innerWeightFlex {
    display: flex;
    width: 50%;
    height: auto;
    background-color: #465861;
    margin-left: 10px;
    margin-right: 10px;
    color: aliceblue;
    justify-content: space-around;
    min-height: 10px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.innerWeightFlexLower {
    display: flex;
    width: 50%;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #607D8B;
    color: aliceblue;
    justify-content: space-around;
    min-height: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 10px;
}

select {
    max-width: fit-content;
}

.dropdown {
    display: inline-block;
    position: relative;
    width: fit-content;

}

.dropDownContent {
    background-color: #465861;
    margin: 2px;
}

.dropDownContent:hover {
    background-color: pink;
}

.buttonExercise {
    width: fit-content;
    vertical-align: middle;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    height: fit-content;
    border-radius: 25px;
    background-color: #607D8B;
    border-width: 0px;
}

.chosenDescriptionFlex {
    height: fit-content;
    width: fit-content;
    max-width: 500px;
    padding: 10px;
}

.chosenDescriptionFlexBox {
    display: flex;
    max-height: 250px;
    height: fit-content;
    width: auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
}