.weightFlex{
    display:flex;
    width: 100%;
    height: auto;
    list-style: none;
    flex-direction: row;
}
.innerWeightFlex{
    display:flex;
    width: 50%;
    height: auto;
    justify-content: center;
}

.dropdown {
    display: inline-block;
    position: relative;
    width: fit-content;

}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content .dropDownContent {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content .dropDownContent:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }
.buttonExercise{
    width: 250px;
    font-size: 25px;
    height: 50px;
    border-radius: 25px;
}